* {
    font-family: 'Roboto Condensed', sans-serif;
    color: #262626;
    margin: 0;
	padding: 0;
	box-sizing: border-box;
}
@media only screen {
    and (min-device-width: 320px) 
    and (max-device-width: 480px)
    and (-webkit-min-device-pixel-ratio: 2)
}
@media only screen {
    and (min-device-width: 320px) 
    and (max-device-width: 568px)
    and (-webkit-min-device-pixel-ratio: 2)
}
@media only screen {
    and (min-device-width: 375px) 
    and (max-device-width: 667px) 
    and (-webkit-min-device-pixel-ratio: 2)
}
@media screen {
    and (min-device-width: 1200px) 
    and (max-device-width: 1600px) 
    and (-webkit-min-device-pixel-ratio: 2)
    and (min-resolution: 192dpi)
}
@media only screen {
    and (min-device-width: 768px) 
    and (max-device-width: 1024px) 
    and (-webkit-min-device-pixel-ratio: 1)
}
header {
    height: 7rem;
    padding: 1.25rem;
    font-size: 1.3rem;
    text-align: left;
    background: aqua;
    /* border: 1px solid #262626; */
}
img.logo {
    width: 8.5rem;
    height: 6rem;
    margin-top: -.75rem;
}
nav {
    position: sticky;
    top: 0;
}
nav ul {
    padding: 1.75rem;
    margin-left: 8rem;
}
nav ul > li {
    display: inline-flex;
    
}
nav > ul > li > a {
    padding: .75rem;
    /* background-color: aqua; */
    border-radius: 8px;
    text-decoration: none;
    color: black !important;
}
nav > ul > li > a:hover {
    background-color: #011627;
    color: #FDFFFC !important;
}
main {
    position: static;
}
.row {
    display: flex;
    flex-wrap: wrap;
}
footer {
    /* background-color: aqua; */
    padding: 1.25rem;
    font-size: 1.3rem;
    text-align: left;
    background: #00ffff;
    /* border: 1px solid #262626; */
    height: 7rem;
}
footer .social {
    padding-top: 1.5rem;
}
.float-left {
    float: left;
}
.clearfix {
   clear: both;
}
.float-right {
    float: right;
    padding: .25rem;
}
.hero {
    position: relative;
    width: 100vw;
    height: 79vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero img {
    filter: brightness(85%);
}
.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 30px;
    width: 100%;
    height: 100%;
    /* background-image: url(/img/IMG_7795.JPG); */
    /* opacity: .5; */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
    /* filter: opacity(50%); */
    opacity: 2;
}
.hero-content {
    position: absolute;
    font-family: "Monserrat", sans-serif;
    color: white;
    text-align: center;
    /* margin: 0.625rem; */
    margin-bottom: 3rem;
}
.hero-title {
    font-size: 3.5rem;
    font-weight: bolder;
    margin-bottom: 0;
    color: white;
}
.hero-subtitle {
    font-size: 2rem;
    font-weight:bold;
    margin-top: 1rem;
    color: white;
}
.link {
    float: left;
    width: 33.33%;
    padding: 2rem;
    position: relative;
    text-align: center;
}
.link img {
    border-radius: 50%;
    max-width: 100%;
}
.linktitle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(255, 252, 244);
    text-decoration: none;
    font-size: 3.5vw;
    font-weight: bold;
}
.imglnk:after {
    content: "";
    display: table;
    clear: both;
}
.container {
    padding: 1.5rem;
}
#about {
    text-align: center;
    padding-bottom: 1rem;
}
#route {
    text-align: center;
    padding-bottom: 1rem;
}
.modal {
    --bs-modal-zindex: 1055;
    --bs-modal-width: 500px;
    --bs-modal-padding: 1rem;
    --bs-modal-margin: 0.5rem;
    --bs-modal-color: ;
    --bs-modal-bg: #fff;
    --bs-modal-border-color: var(--bs-border-color-translucent);
    --bs-modal-border-width: 1px;
    --bs-modal-border-radius: 0.5rem;
    --bs-modal-box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
    --bs-modal-inner-border-radius: calc(0.5rem - 1px);
    --bs-modal-header-padding-x: 1rem;
    --bs-modal-header-padding-y: 1rem;
    --bs-modal-header-padding: 1rem 1rem;
    --bs-modal-header-border-color: var(--bs-border-color);
    --bs-modal-header-border-width: 1px;
    --bs-modal-title-line-height: 1.5;
    --bs-modal-footer-gap: 0.5rem;
    --bs-modal-footer-bg: ;
    --bs-modal-footer-border-color: var(--bs-border-color);
    --bs-modal-footer-border-width: 1px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--bs-modal-zindex);
    display: none;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    outline: 0;
}
.fade {
    transition: opacity .15s linear;
}

.contact, button, input {
    font-weight: 700;
    letter-spacing: 1.4px;
}
.background {
    display: flex;
    min-height: 100vh;
}
  
.container2 {
    flex: 0 1 700px;
    margin: auto;
    margin-top: 75px;
    padding: 10px;
}
  
  .screen {
    position: relative;
    background: #3e3e3e;
    border-radius: 15px;
  }
  
  .screen:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 20px;
    right: 20px;
    bottom: 0;
    border-radius: 15px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, .4);
    z-index: -1;
  }
  
  .screen-header {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background: #4d4d4f;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    height: 3rem;
  }

  .screen-body {
    display: flex;
  }
  
  .screen-body-item {
    flex: 1;
    padding: 50px;
  }
  
  .screen-body-item.left {
    display: flex;
    flex-direction: column;
  }
  
  .app-title {
    display: flex;
    flex-direction: column;
    position: relative;
    font-size: 26px;
  }
  .app-title span {
    color: #888;
  }
  
  .app-contact {
    margin-top: auto;
    font-size: 12px;
    color: #888;
  }
  
  .app-form-group {
    margin-bottom: 15px;
  }
  
  .app-form-group.message {
    margin-top: 40px;
  }
  
  .app-form-group.buttons {
    margin-bottom: 0;
    text-align: right;
  }
  
  .app-form-control {
    width: 100%;
    padding: 10px 0;
    background: none;
    border: none;
    border-bottom: 1px solid #666;
    color: #ddd;
    font-size: 14px;
    text-transform: uppercase;
    outline: none;
    transition: border-color .2s;
  }
  
  .app-form-control::placeholder {
    color: #666;
  }
  
  .app-form-control:focus {
    border-bottom-color: #ddd;
  }
  
  .app-form-button {
    background: none;
    border: none;
    color: aqua;
    font-size: 14px;
    cursor: pointer;
    outline: none;
  }
  
  .app-form-button:hover {
    color: rgb(45, 218, 218);
  }